<h1>ユーザー詳細ページ</h1>

<h3>プロフィール画像</h3>
<%= image_tag @user.get_profile_image(100,100) %>

<h3>ユーザーネーム</h3>
<%= @user.name %>
<%= if @user == current_user %>
<%= link_to "編集",edit_user_path(@user) %>
<% end %>
<% @post_image.each do |post_image| %>

<h3>投稿画像</h3>
<%= link_to post_image_path(post_image.id) do %>
<%= image_tag post_image.get_image %>
<% end %>

<h3>ショップ名</h3>
<%= post_image.shop_name %>

<h3>説明</h3>
<%= post_image.caption %>

<h3>ユーザーネーム</h3>
<%= post_image.user.name %>

<% end %>